@import url(./var.css);

.tipo-ess-citricas {
  --bg-atual: rgba(var(--ess-citricas), 1);
  --bg-main: rgba(var(--ess-citricas), 0.35);
}
.tipo-condimentos {
  --bg-atual: rgba(var(--condimentos), 1);
  --bg-main: rgba(var(--condimentos), 0.35);
}
.tipo-ervas-aromaticas {
  --bg-atual: rgba(var(--ervas-aromaticas), 1);
  --bg-main: rgba(var(--ervas-aromaticas), 0.35);
}
.tipo-aromas-oleoresinas {
  --bg-atual: rgba(var(--aromas-oleoresinas), 1);
  --bg-main: rgba(var(--aromas-oleoresinas), 0.35);
}
.tipo-oleos-essenciais {
  --bg-atual: rgba(var(--oleos-essenciais), 1);
  --bg-main: rgba(var(--oleos-essenciais), 0.35);
}
.tipo-especiarias {
  --bg-atual: rgba(var(--especiarias), 1);
  --bg-main: rgba(var(--especiarias), 0.35);
}
.tipo-ess-adocicadas {
  --bg-atual: rgba(var(--ess-adocicadas), 1);
  --bg-main: rgba(var(--ess-adocicadas), 0.35);
}

body {
  font-family: var(--content-font);
}

header {
	position: sticky;
    top: 0.1px;
    filter: sepia(28%) brightness(93%) saturate(96%) contrast(105%) !important;
	z-index: 100;
	background-color: white;
}

nav.navbar {
  background-color: var(--bg-atual) !important;
  -webkit-box-shadow: -1px 10px 69px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 69px -29px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 69px -29px rgba(0, 0, 0, 0.75);
}

.header__img {
  width: 8rem;
}

h1 {
  font-family: var(--title-font);
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

img.hero__img {
  width: 100%;
}

main {
  padding: 1rem;
  width: 100%;
  background-color: var(--bg-main);
}

article {
  margin-bottom: 3rem;
}

article p {
  font-size: 1.2rem;
}

article p em {
  font-weight: 600;
  font-style: normal;
}

/* Site de um Aroma */

section.aroma-wrapper {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.tipo-wrapper {
  width: fit-content;
  display: flex;
  align-items: flex-end;
  margin-bottom: -20px;
}

div.tipo-cor {
  height: 0.5rem;
  width: 5rem;
  margin-bottom: 29px;
  margin-right: 0.4rem;
  background-color: var(--bg-atual);
  border-radius: 1rem;
}

p#aroma-tipo {
  font-size: 1.7rem;
}

h1#aroma-title {
  font-size: 5rem;
}

p#aroma-nome-cientifico {
  font-style: italic;
  font-size: 1.3rem;
  margin-top: -19px;
}

section.curiosidades {
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
}

div.curiosidades__titulo {
  display: flex;
  justify-content: center;
}

div.curiosidades__titulo__line {
  content: "";
  width: 3rem;
  height: 2px;
  border-radius: 1rem;
  background-color: black;
  opacity: 0.6;
  margin-top: 15px;
  margin-inline: 5px;
}

p.conteudo-curiosidades {
  text-align: center;
}

div.curiosidades__titulo__line--end {
  width: 6rem;
  margin: auto;
}

article.main__content {
  margin-top: 3rem;
}

article.content-card {
  background-color: var(--bg-card);
  padding: 0.8rem 0.8rem;
  border-radius: 1rem;
}

article.content-card p {
  font-size: 1.14rem;
}

/* Seção O que é? */

h2.titulo-conteudo {
  font-family: var(--content-font);
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
}

footer {
  background-color: rgb(var(--bg-footer-atual));
  border-radius: 1rem 1rem 0 0;
  padding: 2.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .col {
  width: fit-content;
}

footer .col:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

footer img.footer__img {
  width: 9rem;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

footer img.footer__img-parceiros {
  width: 3rem;
}
