@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

@font-face {
	font-family: "Scarlet Heart";
	src: url(../fonts/ScarletHeart.ttf);
}


:root {
	--bg-principal: 255, 255, 255;
	--bg-footer-principal: 214, 214, 214;

	--bg-atual: var(--bg-principal);
	--bg-footer-atual: var(--bg-footer-principal);

	--bg-card: rgb(247, 247, 247);

	--bg-main: var(--bg-atual);

	--ess-citricas: 171, 221, 150;
	--condimentos: 248, 201, 211;
	--ervas-aromaticas: 128, 136, 198;
	--aromas-oleoresinas: 237, 216, 105;
	--oleos-essenciais: 184, 168, 79;
	--especiarias: 228, 143, 113;
	--ess-adocicadas: 180, 120, 120;

	--content-font: 'Montserrat', sans-serif;
	--title-font: 'Scarlet Heart', sans-serif;
}
